.idea/
bin/*
!bin/console
public/images/SMITE_Logo_2016_BlackTagline_300dpi.png
src/Command/Crawlers/*
sample/*

***REMOVED******REMOVED******REMOVED***> symfony/framework-bundle ***REMOVED******REMOVED******REMOVED***
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
***REMOVED******REMOVED******REMOVED***< symfony/framework-bundle ***REMOVED******REMOVED******REMOVED***

***REMOVED******REMOVED******REMOVED***> symfony/phpunit-bridge ***REMOVED******REMOVED******REMOVED***
.phpunit
.phpunit.result.cache
/phpunit.xml
***REMOVED******REMOVED******REMOVED***< symfony/phpunit-bridge ***REMOVED******REMOVED******REMOVED***
***REMOVED******REMOVED******REMOVED***> symfony/webpack-encore-bundle ***REMOVED******REMOVED******REMOVED***
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
***REMOVED******REMOVED******REMOVED***< symfony/webpack-encore-bundle ***REMOVED******REMOVED******REMOVED***

.docker/logs/*
.docker/mysql/data/*
.docker/redis/data/*
