{% extends 'base.html.twig' %}

{% block title %}Usage Stats - Smite Stats - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for usage_stat in usage_stats %}
                    "{{ usage_stat.call_date }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: '# of API calls',
                    data: [
                        {% for usage_stat in usage_stats %}
                        {{ usage_stat.total_calls }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}

{% block body %}

<div class="bg-light pt-3 pb-3 mb-3">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h1>Hi-rez API Usage Stats</h1>

                <canvas id="myChart" width="800" height="500"></canvas>


            </div>
        </div>

    </div>
</div>

{% endblock %}
