@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~angular/angular-csp.css";

body {
    background-color: #000;
    color: #fff;
}

a {
    color: gold;
}

h1 {
    font-size: 26px;
}

main {
    color: #000;
}

main a {
    color: #9e6700;
}

.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}

.bg-dark-opaque {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-light-opaque {
    background-color: rgba(255, 255, 255, 0.8);
}

.text-gold {
    color: #9e6700;
}

.navbar-light .navbar-brand.text-gold {
    color: #9e6700;
    font-size: 26px;
}

.header-box {
    height: 300px;
    background-image: url('/images/smite_bg_540.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-box nav {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
}

.header-box .slogan {
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
    text-align: left;
}

.header-box .slogan-inner {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    display: inline-block;
    padding: 10px 40px 10px 10px;
}

.header-box .slogan a {
    font-weight: bold;
    font-size: 32px;
}

.header-box .slogan span {
    font-size: 16px;
}

.header-box nav a {
    color: #9e6700;
    font-size: 22px;
    text-transform: uppercase;
}

.player-smite-god {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid gold;
    height:125px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width:125px;
}

.player-smite-god-medium {
    display: inline-block;
    height:80px;
    margin-bottom: 0;
    vertical-align: middle;
    width:80px;
}

.player-smite-god-small {
    display: inline-block;
    height:40px;
    margin-bottom: 0;
    vertical-align: middle;
    width:40px;
}

.smite-god {
    background-position:  top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid gold;
    height:200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.smite-god a {
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    display: block;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.smite-god a h1 {
    font-size: 14px;
}

.match-report-items img {
    height: 50px;
    width: 50px;
}

.match-stats td {
    vertical-align: middle;
}

.stats-table td {
    vertical-align: middle;
    white-space: nowrap;
}

footer .social a i {
    font-size: 24px;
}

@media (max-width: 7680px) {
    .header-box {
        background-image: url('/images/smite_bg_7680.jpg');
    }
}

@media (max-width: 3840px) {
    .header-box {
        background-image: url('/images/smite_bg_3840.jpg');
    }
}

@media (max-width: 1920px) {
    .header-box {
        background-image: url('/images/smite_bg_1920.jpg');
    }
}

@media (max-width: 1140px) {
    .header-box {
        background-image: url('/images/smite_bg_1140.jpg');
    }
}

@media (max-width: 960px) {
    .header-box {
        background-image: url('/images/smite_bg_960.jpg');
    }
}

@media (max-width: 767px) {
    .header-box {
        height: 240px;
    }
    .header-box .slogan {
        display: none;
    }
    .header-box nav {
        bottom: auto;
        left: auto;
        position: inherit;
        right: auto;
    }
    .match-report-items img {
        height: 30px;
        width: 30px;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (max-width: 720px) {
    .header-box {
        background-image: url('/images/smite_bg_720.jpg');
    }
}

@media (max-width: 540px) {
    .header-box {
        background-image: url('/images/smite_bg_540.jpg');
    }
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}