@import "~bootstrap";

body {
    background-color: #000;
    color: #fff;
}

a {
    color: gold;
}

h1 {
    font-size: 26px;
}

main {
    color: #000;
}

main a {
    color: #9e6700;
}

.header-box {
    position: relative;
    text-align: center;
    width: 100%;
}

.header-box img {
    margin-top: -20px;
    position: relative;
    width: 100%;
}

.header-box nav {
    background: rgba(255, 255, 255, 0.8);
    bottom: 5px;
    display: block;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}

.header-box nav a {
    color: #9e6700;
    font-size: 22px;
    text-transform: uppercase;
}

.smite-god {
    background-position:  top center;
    background-repeat: no-repeat;
    border: 1px solid gold;
    height:200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width:180px;
}

.smite-god a {
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    display: block;
    font-weight: bold;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.smite-god a h1 {
    font-size: 14px;
}

.god-ability {
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
}