</main>

<footer>
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mb-2 mb-md-0">
                &copy; <a href="https://smitestats.com">Smite Stats</a> {{ "now"|date("Y") }}
            </div>
            <div class="col-md-4 social text-center mb-2 mb-md-0">
                <a href="https://twitter.com/smitestats" rel="noopener" target="_blank"><i class="fab fa-twitter pr-3"></i></a>
                <a href="https://facebook.com/smitestats" rel="noopener" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="col-md-4 ">
                &nbsp;
            </div>
        </div>
    </div>
</footer>
