</main>

<footer>
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col-md-4">
                &copy; <a href="https://smitestats.com">Smite Stats</a> {{ "now"|date("Y") }}
            </div>
            <div class="col-md-4 social text-center">
                <a href="https://twitter.com/smitestats" rel="noopener"><i class="fab fa-twitter pr-3"></i></a>
                <a href="https://facebook.com/smitestats" rel="noopener"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="col-md-4 text-right">
                <a href="https://github.com/dant89/smite-stats" rel="nofollow" target="_blank">Open source Smite stats</a> project.
            </div>
        </div>
    </div>
</footer>
