</main>

<footer>
    <div class="container pt-2 pb-2">
        &copy; <a href="https://smitestats.com">Smite Stats</a> {{ "now"|date("Y") }}
        <p class="float-right">
            <a href="https://github.com/dant89/smite-stats" rel="nofollow" target="_blank">Open source Smite stats</a> project.
        </p>
    </div>
</footer>
