</main>

<footer>
    <div class="container pt-2 pb-2">
        <div class="row">
            <div class="col-md-5 text-center text-md-left mb-2 mb-md-0">
                &copy; <a href="https://smitestats.com">Smite Stats</a> {{ "now"|date("Y") }}
            </div>
            <div class="col-md-2 social text-center mb-2 mb-md-0">
                <a href="https://twitter.com/smitestats" rel="noopener" target="_blank"><i class="fab fa-twitter pr-3"></i></a>
                <a href="https://facebook.com/smitestats" rel="noopener" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="col-md-5 text-right">
                <p>
                    <a href="https://smitestats.com">Smite Stats</a> is an <a href="https://github.com/dant89/smite-stats" rel="nofollow" target="_blank">open source GitHub project!</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8 text-center">
                <p>
                    Feature requests are welcome but please consider pledging your support at <a href="https://www.patreon.com/dantuk" rel="nofollow" target="_blank">Patreon</a>, this project has no advertising and the developers work for free!
                </p>
            </div>
        </div>
    </div>
</footer>
