<div class="container">
    <img src="/images/SMITE_Big5_KeyArt.jpg" style="max-width: 100%" />

    <nav class="mb-3 mt-3">
        <a class="mr-3" href="{{ path('homepage') }}" rel="nofollow">Home</a>
        <a class="mr-3" href="{{ path('gods') }}">Gods</a>
    </nav>
</div>
