<div class="header-box">
    <img src="/images/SMITE_Big5_KeyArt.jpg" />
    <nav class="mb-3 mt-3">
        <div class="container text-left">
            <a class="mr-3" href="{{ path('homepage') }}" rel="nofollow">Home</a>
            <a class="mr-3" href="{{ path('gods') }}">Gods</a>
        </div>
    </nav>
</div>

<main>
